@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.container {

    min-width: 52.5rem;
    background-color: $color-base-secondary;
    border-radius: 24px 24px 200px 24px;
    padding: 3.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include smaller-screen {
        min-width: 47rem;
    }

    @include tablet-mobile {
        min-width: unset;
        padding-inline: 1.5rem;
        padding-block: 3rem;
        margin-block: 5.5rem;
        margin-inline: 1rem;
        border-radius: 24px 24px 100px 24px;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;

        .inputs-container {
            display: flex;
            width: 100%;
            gap: 2rem;

            @include tablet-mobile {
                gap: 1rem;
            }

            .form-group {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: $font-weight-bold;
                    font-size: $font-size-small;
                    color: $color-primary;
                    text-transform: uppercase;
                    letter-spacing: 2.4px;

                    @include tablet-mobile {
                        font-size: $font-size-smaller;
                    }
                }

                .form-control {
                    margin-top: 0.4rem;
                    border: 1px solid $color-teriatary;
                    padding: 0.7rem 1.5rem;
                    border-radius: 8px;
                    width: 160px;

                    font-size: $font-size-base;
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;

                    @include tablet-mobile {
                        width: 86px;
                        font-size: $font-size-base-small;
                        padding: 0.62rem 1rem;
                    }

                    &:focus {
                        outline-color: $color-secondary;
                    }
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type="number"] {
                    -moz-appearance: textfield;
                    -webkit-appearance: textfield;
                    appearance: textfield;
                }

                .message {
                    display: none;
                    font-size: $font-size-small;
                    font-style: italic;
                }

                &.error {
                    label {
                        color: $color-error;
                    }

                    .form-control {
                        border: 1px solid $color-error;
                    }

                    .message {
                        display: block;
                        margin-top: 0.5rem;
                        color: $color-error;
                    }
                }
            }
        }

        .btn-line-container {
            display: flex;
            position: relative;
            justify-content: end;

            @include tablet-mobile {
                justify-content: center;
            }

            .btn {
                border-radius: 100ch;
                border: none;
                background-color: $color-secondary;
                width: 96px;
                height: 96px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 3;
                transition: all 200ms ease-in-out;

                &:hover {
                    background-color: $color-base;
                }

                @include tablet-mobile {
                    width: 64px;
                    height: 64px;
                    margin-block: 2rem;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .line {
                position: absolute;
                height: 1px;
                width: 100%;
                border: 1px solid$color-teriatary;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}