@use 'sass:math';

@function rem-calc($size) {
    @return (math.div($size, 16)) * 1rem;
}

// Font settings

$font-family-base: 'Poppins', sans-serif;



// font weight 

$font-weight-light-italic: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// font size

$font-size-base: rem-calc(32);
$font-size-base-small: rem-calc(20);
$font-size-small: rem-calc(14);
$font-size-smaller: rem-calc(12);

$font-size-input-message: rem-calc(12);

// headings size

$font-size-headidng-main: rem-calc(104);
$font-size-headidng-main-medium: rem-calc(56);

// Color settings

$color-base: #151515;
$color-base-secondary: #FFFFFF;

$color-body: #F0F0F0;
$color-primary: #716F6F;
$color-secondary: #854DFF;

$color-teriatary: #DCDCDC;
$color-qinatary: #C2CBE5;

$color-error: #FF5959;